<div class="list-group selected">
  <a href="#" class="list-group-item">
    <h3 class="list-group-item-heading center">Edit <%= resource_name.to_s.humanize %></h3>
  </a>
</div>

<div class="row">
    <div class="col-sm-offset-2 col-xs-8">
      <%= form_for(resource, as: resource_name, :html => { method: :put, class: "form-horizontal"}, url: registration_path(resource_name)) do |f| %> 
        <%= render 'devise/shared/error_messages', resource: resource %>

        <div class="form-group">
          <div class="col-md-6 no-padding">
              <%= f.label :first_name  %>
              <%= f.text_field :first_name, class: "form-control", placeholder: "Enter first_name", autofocus: true %>
          </div>
          <div class="col-md-6 no-padding left-padding">
              <%= f.label :last_name  %>
              <%= f.text_field :last_name, class: "form-control", placeholder: "Enter last_name"%>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :contact_number%>
          <%= f.text_field :contact_number, class: "form-control", placeholder: "Enter contact number" %>
        </div>

        <div class="form-group">
          <%= f.label :Address  %>
          <%= f.text_area :address, class: "form-control", placeholder: "Enter your address" %>
        </div>

        <div class="form-group">
          <%= f.label :Email  %>
          <%= f.email_field :email, class: "form-control", placeholder: "Enter email", autocomplete: "email" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        
        <div class="form-group">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
          <%= f.password_field :password, class: "form-control", placeholder:"Enter Password" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          </div>

        <div class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: "form-control", placeholder:"Confirm Password" %>
        </div>

        <div class="form-group">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
          <%= f.password_field :current_password, class: "form-control", placeholder:"Confirm Password" %>
        </div>

        <div class="form-group center">
          <%= f.submit "Update", class: "btn btn-primary btn-md" %>
        </div>
        <div class="center" style="margin:2rem;">
          [  <%= link_to "Back", :back %>  ]
        </div>
      <% end %>
    </div>
</div>
