<div class="row" style="margin:3rem;">
    <div class="col-sm-offset-2 col-xs-8">
        <%= form_with(model: bid, local: true) do |form| %>
        <%= render "devise/shared/error_messages", resource: bid %>

            <div class="form-group">
                <%= form.label :Time_to_bid  %>
                <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                <div class="input-group">
                <div class="input-group-addon">&#x20B9;</div>
                    <%= form.number_field :amount, class: "form-control", placeholder: "Enter Amount", autofocus: true %>
                <div class="input-group-addon">.00</div>
                </div>
            </div>

            <div>
                <%= hidden_field_tag "auction_id", @id %>
            </div>


            <div class="form-group center">
                <button class="btn btn-primary btn-md" data-toggle="tooltip" data-placement="left" title="bid more than current price">
                    Create Bid<% form.submit %>
                </button>                
                <%= link_to 'Back', :back ? :back : auctions_path, class: "btn btn-default btn-md" %>
            </div>

        <% end %>
    </div>
</div>