<%= form_with(model: bid, local: true) do |form| %>

    <div class="field">
        <%= form.label :Your_Bid  %>
        <%= form.number_field :amount %>
    </div>
    <div>
        <%= hidden_field_tag "auction_id", @id %>
    </div>
    <div class="actions">
        <%= form.submit %>
    </div>

<% end %>