<div class="list-group selected">
  <a href="#" class="list-group-item">
    <h3 class="list-group-item-heading center"> Log in </h3>
  </a>
</div>

<div class="row center" style="margin:5rem;">
    <div class="col-sm-offset-2 col-xs-8">
      <%= form_for(resource, as: resource_name, :html => { class: "form-horizontal"}, url: session_path(resource_name)) do |f| %> 

        <div class="form-group">
            <div class="contrl-lable col-sm-2">
                <%= f.label :Email  %>
            </div>
            <div class="col-sm-10">
                <%= f.email_field :email, class: "form-control", placeholder: "Enter email", autofocus: true, outocomplete: true%>
            </div>
        </div>

        <div class="form-group">
            <div class="contrl-lable col-sm-2">
                <%= f.label :Password %>
            </div>
            <div class="col-sm-10">
                <%= f.password_field :password, class: "form-control", placeholder: "Enter password", outocomplete: true %>
            </div>  
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="form-group"> 
            <div class="center">
              <%= f.check_box :remember_me %> <%= f.label :remember_me  %> 
            </div>
        </div>
        <% end %>

        <div class="form-group center">
            <div cass="col-sm-10">
                <%= f.submit "Log In", class: "btn btn-primary btn-md" %>
            </div>
            <div class="center" style="margin:2rem;">
                [  <%= render "devise/shared/links" %>  ]
            </div>
        </div>
      
      <% end %>
    </div>
</div>
